/* .voteIntroInfoCard-title {
    color: #97f8ff !important;
}
.bg-page {
    background-color: #030c44 !important;
}
.p-intro-wrap >div {
    background-color: transparent !important;
}
.p-voteIntroInfoCard-block {
    padding-top: 0px;
    background-color: transparent;
}
.p-voteIntroRuleCard-block {
    background-color: transparent;
}

.p-intro-wrap {
    background-color: #001282 !important;
    margin: 0px 15px;
} */
/* ============================================================================= */

.p-votePlayerList-info {
    padding-left: 10px;
    padding-right: 10px;
}

.p-votePlayerList-name {
    padding-left: 10px;
    padding-right: 10px;
}

.p-votePlayerList-item-block {
    display: flex;
    flex-direction: column;
}

.p-votePlayerList-image_wrap img {
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.p-rank-player-intro {
    width: 3.8rem;
}
.p-player-content-block iframe
{
   width: 8.5rem;
   height: 5rem;
   position: relative;
   left: -0.3rem;
}

.p-rank-name-wrap {
    display: flex;
    align-items: center;
    width: 3.8rem;
}

.p-rank-page-number {
    width: 0.76rem
}

.p-rank-page-name {
    flex: 1;
}

.p-votePlayerList-item-content {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.votePlayerList-name {
    flex: 1;
}
.p-playerPage-vote-block_vote {
    border-radius: 5px !important;
}
/* // ------------------------------------ */
