.p-votePlayerList-info {
    padding-left: 10px;
    padding-right: 10px;
}

.p-votePlayerList-name {
    padding-left: 10px;
    padding-right: 10px;
}

.p-votePlayerList-item-block {
    display: flex;
    flex-direction: column;
}

.p-votePlayerList-image_wrap img {
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.p-rank-player-intro {
    width: 3.8rem;
}

.p-rank-name-wrap {
    display: flex;
    align-items: center;
    width: 3.8rem;
}

.p-rank-page-number {
    width: 1rem
}

.p-rank-page-name {
    flex: 1;
}

.p-votePlayerList-item-content {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.votePlayerList-name {
    flex: 1;
}

/* // ------------------------------------ */
.p-playerPage-vote-block {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    margin-top: 0.3rem;
}

.p-playerPage-vote-block>div::before {
    position: absolute;
    content: "";
    width: 0.1333rem;
    height: 1.0667rem;
    border-radius: 0.1067rem;
    background-color: var(--primary-color) !important;
    top: 50%;
    transform: translateY(-50%);
    right: -0.16rem;
}
.p-playerPage-vote-block>div::after {
    position: absolute;
    content: "";
    width: 0.1333rem;
    height: 1.0667rem;
    border-radius: 0.1067rem;
    background-color: var(--primary-color) !important;
    top: 50%;
    transform: translateY(-50%);
    left: -0.16rem;
}
.p-PlayerPage-name-block {
    margin-bottom: 0rem !important;
}

.p-playerPage-vote-block>div {
    position: relative;
    width: 46%;
    height: 1rem !important;
    border-radius: 0px !important;
    
}
.rank-list-item-icon {
    color: var(--primary-color);
}
.rank-list .rank-list-item:nth-child(3)::before {
    background-image: url('http://upload.cyuandao.com/_nuxt/rank-hanmo-no1.png');
    position: absolute;
    content: " ";
    top: 0rem;
    left: 1.28rem;
    width: 0.32rem;
    height: 0.32rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 20;
    margin-left: 0.4rem;
}
.rank-list .rank-list-item:nth-child(2)::before {
    background-image: url('http://upload.cyuandao.com/_nuxt/rank-hanmo-no2.png');
    position: absolute;
    content: " ";
    top: 0rem;
    left: 1.28rem;
    width: 0.32rem;
    height: 0.32rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 20;
    margin-left: 0.4rem;
}
.rank-list .rank-list-item:first-child::before {
    background-image: url('http://upload.cyuandao.com/_nuxt/rank-hanmo-no3.png');
    position: absolute;
    content: " ";
    top: 0rem;
    left: 1.28rem;
    width: 0.32rem;
    height: 0.32rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 20;
    margin-left: 0.4rem;
}

.rank-list .rank-list-item:first-child img {
    border: 2px solid #fdbd04;
}

.rank-list .rank-list-item:nth-child(2) img {
    border: 2px solid #d5d5d5;
}

.rank-list .rank-list-item:nth-child(3) img {
    border: 2px solid #f0ab8c;
}

.rank-list .rank-list-item img {
    border-radius: 0px;
}

.rank-list .rank-list-item:first-child .rank-list-item-icon::after {
    content: "1";
}

.rank-list .rank-list-item:nth-child(2) .rank-list-item-icon::after {
    content: "2";
}

.rank-list .rank-list-item:nth-child(3) .rank-list-item-icon::after {
    content: "3";
}

.rank-list .rank-list-item:nth-child(3) .rank-list-item-icon {
    color: #f0ab8c !important;
    font-weight: 700;
    font-size: 0.45rem;
}

.rank-list .rank-list-item:nth-child(2) .rank-list-item-icon {
    color: #d5d5d5 !important;
    font-weight: 700;
    font-size: 0.45rem;
}

.rank-list .rank-list-item:first-child .rank-list-item-icon::after {
    content: "1";
}

.rank-list .rank-list-item:first-child .rank-list-item-icon {
    color: #fdbd04 !important;
    font-weight: 700;
    font-size: 0.45rem;
}

.rank-list-item-icon {
    background-image: unset !important;
}

.rank-list-item {
    position: relative;
    background-color: transparent !important;
    background-image: unset !important;
    border-bottom: 1px solid rgba(240, 240, 240, 0.5)
}

.p-voteIntroPanel-block>div:nth-child(1)::before {
    position: absolute;
    content: "";
    width: 0.1333rem;
    height: 1.0667rem;
    border-radius: 0.1067rem;
    background-color: var(--primary-color) !important;
    top: 50%;
    transform: translateY(-50%);
    left: -0.2rem;
}

.p-voteIntroPanel-block>div:nth-child(1):after {
    position: absolute;
    content: "";
    width: 0.1333rem;
    height: 1.0667rem;
    border-radius: 0.1067rem;
    background-color: var(--primary-color) !important;
    top: 50%;
    transform: translateY(-50%);
    right: -0.2rem;
}

.p-voteIntroPanel-block>div:nth-child(1) {
    position: relative;
    padding-top: 0.48rem !important;
    width: 3.8933rem !important;
    height: 0.9333rem !important;
    background-image: url('http://upload.cyuandao.com/_nuxt/rank-title-hanmo.png') !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-color: var(--primary-color) !important;
    color: transparent;
    margin-left: calc(50% - 1.8rem);
    ;
}

.p-votePlayerList-button {
    width: 3.9467rem !important;
    background-image: url("http://upload.cyuandao.com/_nuxt/vote_hanmo.png") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    color: #fff !important;
    height: 0.7rem;
}

.p-votePlayerList-name {
    color: var(--primary-color);
}

.p-votePlayerList-poll-block {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 0.4rem;
    color: var(--primary-color);
}

.p-votePlayerList-item-block {
    padding: 0.2rem;
}

.p-number-block {
    font-size: 0.42rem;
    display: block;
    position: relative;
    height: 0.8rem;
    border-radius: 0px;
    display: flex;
    background-color: transparent;
    color: var(--primary-color);
}

.p-votePlayerList-image_wrap {
    border-radius: 0px;
}

.p-votePlayerList-image_wrap img {
    border-radius: 0px;
}

.p-rank-button {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.p-rank-button::before {
    right: -7px;
    position: absolute;
    content: "";
    width: 0.1333rem;
    height: 1.0667rem;
    border-radius: 0.1067rem;
    background-color: var(--primary-color) !important;
    top: 50%;
    transform: translateY(-50%);
}

.p-rank-button::after {
    left: -7px;
    position: absolute;
    content: "";
    width: 0.1333rem;
    height: 1.0667rem;
    border-radius: 0.1067rem;
    background-color: var(--primary-color) !important;
    top: 50%;
    transform: translateY(-50%);
}

.p-VoteSearchCard>div:nth-child(1) {
    padding: 0px;
    background-color: transparent;

}

.rounded-15px {
    border-radius: 5px !important;
}

.rounded-10px {
    border-radius: 5px !important;
}

.p-voteIntroRuleCard-block>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57% !important;
    margin-left: 26% !important;
    height: 1.2rem !important;
    background-image: url('https://upload.cyuandao.com/2022061016594255806.jpg') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    color: #fff !important;
    font-size: 0.38rem !important;
    padding-right: 0.4rem !important;
    padding-top: 0.1rem !important;
    margin-bottom: 0.3rem !important;
}

.p-voteIntroRuleCard-block-text .text-base {
    color: #333;

}

.rule-label {
    color: #333;
}

.p-voteIntroInfoCard-timer-text {}

.p-voteIntroRuleCard-block {
    background-color: transparent;
    padding-top: 0px;
}

.p-voteIntroInfoCard-block {
    background-color: transparent;
}

.p-voteIntroInfoCard-timer-block .icontime {
    display: none;

}

.p-voteIntroInfoCard-statistics-block>div {
    justify-content: center;
    padding-bottom: 0.2rem;
}

.p-voteIntroInfoCard-statistics-block div {
    color: var(--primary-color) !important;
    border: 0px;
}

.p-voteIntroInfoCard-statistics-block {
    background-image: url('https://upload.cyuandao.com/2022061016454141227.jpg') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    height: 2.8rem !important;
    padding-left: 10px !important;
    padding-right: 12px !important;
}
.p-playerPage-lapiao {
    margin-top: 0px;
    height: 1rem !important;
    border-radius: 0px !important;
}