.p-search-modal-button {
    border-radius: .1067rem !important;
    color: #fff !important;
    width: 4.2133rem !important;
    height: 1.0667rem !important;
    line-height: .96rem !important;
    background-image: url('/images/bg/kejipingxuan/btnM.png') !important;
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    }
.adm-modal-content {
    padding-top: 0.3rem;
}
.p-search-button_v1 {
    position: absolute;
    top: 0px;
    width: 4.2667rem !important;
    height: .9867rem !important;
    display: inline-block;
    background-image: url('/images/bg/kejipingxuan/search-title.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateY(-.24rem);
    color: transparent !important;
}
.p-PlayerPage-number {
    position: absolute;
    left: 50%;
    top: 0;
    width: 4.2667rem;
    height: .9867rem;
    background-image: url('/images/bg/kejipingxuan/detail-no.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -.24rem);
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: .4267rem !important;
    color: #fff !important;
    font-weight: normal !important;
    }
.p-playerPage-vote-block {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    margin-top: 0.3rem;
}

.p-playerPage-lapiao {
    margin-top: 0px;
    height: 1rem !important;
    border-radius: 5px !important;
    background-image: url('/images/bg/kejipingxuan/btnM.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.p-PlayerPage-name-block {
    margin-bottom: 0rem !important;
}
.p-PlayerPage-name {
    margin-top: 1.2rem;
}
.p-playerPage-vote-block>div {
    position: relative;
    width: 46%;
    height: 1rem !important;
    background-image: url('/images/bg/kejipingxuan/btnM.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 5px !important;
}
.p-voteIntroInfoCard-statistics-block {
    position: absolute;
    top: -3rem;
    left: 0px;
}
.p-PlayerPage-name-block {
    background-color: #fff;
    margin-top: 0.5rem;
}
#playerPage-player-content {
    margin-top: 3rem;
    background-color: #fff;
}
.p-playerPage-vote-block {
    padding-top: 1rem;
    margin-top: 0px;
    background-color: #fff;
    position: relative;
    top: -2px;
    padding-bottom: 1rem;
}
.p-player-last-vote-num > div:first-child{
    margin-top: 0.38rem;
    font-size: 0.38rem;
    margin-bottom: 0.55rem;

}
.playerPage-player-content {
    background-color: transparent;
}
.rank-list-item {
    margin-bottom: 0px;
    padding-bottom: 0.6rem;
}
.p-rank-player-intro {
    position: relative;
    top: -0.11rem;
}
.rank-list-item-icon {
    color: var(--primary-color);
}
.p-rank-page-poll {
    color: var(--primary-color);
}
.rank-list-item {
    background-color:  transparent !important;
    background-image: unset !important;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0px;
}
.rank-list .rank-list-item:nth-child(3) .rank-list-item-icon{
    background-image: url("/images/bg/kejipingxuan/top3.png") !important;
    width: 0.6rem;
    height: 0.68rem;
}
.rank-list .rank-list-item:nth-child(2) .rank-list-item-icon{
    background-image: url("/images/bg/kejipingxuan/top2.png") !important;
    width: 0.6rem;
    height: 0.68rem;
}
.rank-list .rank-list-item:first-child .rank-list-item-icon{
    background-image: url("/images/bg/kejipingxuan/top1.png") !important;
    width: 0.6rem;
    height: 0.68rem;
}
.rank-list-item img {
    border-radius: 5px !important;
}
.p-rank-name-wrap {
    display: block!important;
}
.p-rank-page-name {
    margin-left: 0px;
}
.p-voteIntroPanel-block {
    position: relative;
}
.p-voteIntroPanel-block > div:nth-child(1) {
    position: absolute;
    left: 2.5rem;
    top: 0 !important;
    width: 4.2667rem !important;
    height: .9867rem !important;
    display: block;
    background-image: url('/images/bg/kejipingxuan/rank-title.png') !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    transform: translateY(-0.2667rem);
    color: transparent;
}
.rank-list {
    margin-top: 0.7rem;
}
.p-number-block span{
    position: relative;
    left: 0.1rem;
    top: 0.12rem;
    font-size: 0.38rem;
    display: inline-block;
    z-index: 1;
    background: rgba(255, 255, 255, .2) !important;
    width: 1.2rem;
    height: .6rem;
    text-align: center;
    color: #fff;
}
.p-voteIntroRuleCard-block-text {
    margin-top: 2rem;
}
.p-votePlayerList-button {
    width: 3.8rem !important;
    height: .96rem !important;
    background-color: var(--primary-color);
    border-radius: 3px !important;
    color: #ffffff !important;
    font-size: .4rem !important;
    background-image: url('/images/bg/kejipingxuan/btn2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: .2667rem;
}
.p-votePlayerList-image_wrap {
    position: relative;
    top: -0.14rem;
}
.p-number-block {
    z-index: 2;
    position: relative;
    background: url('/images/bg/kejipingxuan/player-top.png') no-repeat center;
    background-size: 100% 100%;
    height: 1.12rem !important;
    }
.p-votePlayerList-item-block {
    border-radius: 5px;
}
.p-votePlayerList-image_wrap {
    border-radius: 0px;
}

.p-votePlayerList-image_wrap img {
    border-radius: 0px;
}
.p-votePlayerList-poll-block {
    position: absolute;
    top: 0.15rem;
    color: #fff !important;
    right: 0.2rem;
    font-size: 0.4rem;
}
.p-number-block {
    font-size: 0.42rem;
    display: block;
    position: relative;
    height: 0.8rem;
    border-radius: 0px;
    display: flex;
    background-color: transparent;
    color: var(--primary-color);
}
.p-VoteSearchCard > div {
    border-radius: 7px !important;
}
.p-search-button {
    border-radius: 5px 5px;
    color: #fff !important;
    background: url('/images/bg/kejipingxuan/search-btn.png') no-repeat center;
}
.p-rank-button {
    background-image: url('/images/bg/kejipingxuan/btnL.png');
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-right: 0 !important;
    color: #fff !important;
    border-radius: .1333rem !important;
    overflow: hidden;
    font-size: .4rem !important;
}
.p-vote-group-card .bg-primary {
    background-color: #fff !important;
    color: var(--primary-color) !important;

}
.p-vote-group-card {
    padding: 10px;
    padding-top: 0px;
}
.p-VoteSearchCard {
    padding: 10px;
}
.group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.95rem;
    border-radius: 5px !important;
    background-color: transparent !important;
    border: 0.0267rem solid rgba(255, 255, 255, .2) !important;
    color: #fff !important;
}
.p-vote-group-card  >div {
    padding: 0px;
    margin-left: 0px !important; 
    margin-right: 0px !important;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;

}
.p-voteIntroRuleCard-block {
    position: relative;
}
.c-customize-time {
    width: 95%;
    position: absolute;
    top: 1.2rem;
    display: flex !important;
    justify-content: space-between;
}
.p-VoteIntroPanel-wrap {
    padding-left: 10px;
    padding-right: 10px;
}
.p-intro-wrap >div{
    padding-left: 10px;
    padding-right: 10px;

}
.c-customize-time_label {
    margin-top: 5px;
    font-size: 0.38rem;
    color: #759cea;
}
.c-customize-time_item {
    color: var(--primary-color);
    padding: 3px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/images/bg/kejipingxuan/rule-list-bg.png') no-repeat center;
    line-height: 1;
    width: 4.32rem !important;
    height: 1.52rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: .3733rem;
    margin-bottom: .4rem;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-voteIntroRuleCard-block-text .icontishi{
    display: none !important;
}
.p-voteIntroRuleCard-block-text >div:nth-child(1) {
    display: none !important;
}
.p-voteIntroRuleCard-block-text >div:nth-child(2) {
    display: none !important;
}
.p-voteIntroRuleCard-block {
    margin-top: 0.3rem !important;
}
.p-voteIntroRuleCard-block > div:nth-child(1){
    width: 4.2667rem !important;
    height: .9867rem !important;
    background-image: url("/images/bg/kejipingxuan/rule-title.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto -0.15rem;
    transform: translateY(-.24rem);
    background-size: auto 100%;
    color: transparent !important;
    position: relative;
    top: -0.25rem;
}


.p-voteIntroInfoCard-timer-wrap {
    color: #fff !important;
}
.p-voteIntroInfoCard-timer-block .icontime {
    color: #fff !important;
}
.p-voteIntroInfoCard-timer-block .text-primary {
    color: #fff !important;
}



.p-voteIntroInfoCard-statistics-block > div .text-lg {
    margin-top: 0.4rem !important;
    margin-bottom: 0.5rem;
    font-size: 0.43rem;
}

.p-voteIntroInfoCard-statistics-block .text-base {
    color: #fff;
}

.p-voteIntroInfoCard-statistics-block > div {
    color: var(--primary-color) !important;
    background-image: url("/images/bg/kejipingxuan/sta-list-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent !important;
    height: 2.1rem !important;
    width: 2.8533rem !important;
    flex: none !important;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    border-right: 0 !important;
    /* margin-right: 0.5rem !important; */
}
.voteIntroInfoCard-title {
    color: #fff;
}
.p-voteIntroInfoCard-statistics-block > div{
    border: 0px;
    flex: unset !important;
    width: 30%;
}
.p-voteIntroInfoCard-statistics-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
    background-color: transparent;
}
.p-voteIntroInfoCard-block {
    background-color: transparent;
    padding: 0px;
}
.bg-page  {
    background-color: #0046e0 !important;
}

/* ============================================================================= */

.p-votePlayerList-info {
    padding-left: 10px;
    padding-right: 10px;
}

.p-votePlayerList-name {
    padding-left: 10px;
    padding-right: 10px;
}

.p-votePlayerList-item-block {
    display: flex;
    flex-direction: column;
}

.p-votePlayerList-image_wrap img {
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.p-rank-player-intro {
    width: 3.8rem;
}
.p-player-content-block iframe
{
   width: 8.5rem;
   height: 5rem;
   position: relative;
   left: -0.3rem;
}

.p-rank-name-wrap {
    display: flex;
    align-items: center;
    width: 3.8rem;
}

.p-rank-page-number {
    width: 0.76rem
}

.p-rank-page-name {
    flex: 1;
}

.p-votePlayerList-item-content {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.votePlayerList-name {
    flex: 1;
}
.p-playerPage-vote-block_vote {
    border-radius: 5px !important;
}
/* // ------------------------------------ */
