.demo1 .canvas-header {
    background: url("https://upload.cyuandao.com/2024082717351984923.jpg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.demo2 .header {
    background: url("https://upload.cyuandao.com/2024082718105643170.jpg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.demo3 {
    background-color: var(--primary-color);
    background-image: url("https://upload.cyuandao.com/2024082719425613165.jpg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}
